
.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 5px;
  }
  
  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-column p {
    margin: 5px 0;
  }
  
  .logo {
    text-align: center;
  }
  
  .logo img {
    width: 100px; 
    height: auto;
  }
  

  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
  
    .footer-column {
      flex: 1;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  