
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    margin-right: auto; 
  }

  .menu a {
    display: none;
  }

  .menu-toggle {
    display: block;
    margin-right: 20px;
  }

  .header-container {
    flex-direction: row-reverse;
  }

  .menu.show-menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .menu.show-menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
}
